export GEMINI_API_KEY=
export OPENROUTER_API_KEY=
export GROQ_API_KEY=
export HERMES_DISCORD_TOKEN=
export OPENCODE_API_KEY=
export OPENCODE_GO_API_KEY=
export OPENCODE_ZEN_KEY=
export AIRFORCE_API_KEY=
export CHUTES_API_KEY=
